body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    background-color: #1F2937;
    font-family: monospace;
}

/* Header Section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}