body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    font-family: monospace;
}

/* Header Section */

.header {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 18px;
}

a, .hero_description {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero section */

.hero {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 18px;
}

.hero_content {
    padding: 18px;
    flex: 1;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}


.hero_img {
    padding: 18px;
    flex: 1;
}

.hero_btn {
    color: white;
    font-size:large;
    font-weight: bold;
    background-color: #3882F6;
    padding: 10px 15px;
    border-radius: 12px;
}

/* Images section */

.images {
    background-color: #ffffff;
    padding: 18px;
}

.images h2 {
    color: #1F2937;
    font-size:36px;
    font-weight: 900;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.img_content {
    padding: 12px;
}

.img_content img {
    /* border: 5px solid; */
    border-color: #3882F6;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.img_content p {
    text-align: center;
}

/* Quote section */
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 18px;
}

.quote_text {
    font-style: italic;
}

.quote_author {
    text-align: right;
    font-weight: bold;
}
